.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  background: #1c2627;
  color: #666;
}

.darkdiv {
  /* Padding bottom by footer height */
  background: #151d1e;
  color: #666;
}

.boxxy {
  -moz-box-shadow:    4px 4px 12px 6px rgba(0,0,0,.5);
  -webkit-box-shadow: 4px 4px 12px 6px rgba(0,0,0,.5);
  box-shadow:         4px 4px 12px 6px rgba(0,0,0,.5);
}

.tooltip {
  position: absolute;
  width: 155px;
  height: 155px;
  padding: 2px;
  font: 14px sans-serif;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  background: #151d1e;
  border: 1px solid #0195d1;
  border-radius: 50%;
  -moz-box-shadow:    4px 4px 12px 6px rgba(0,0,0,.5);
  -webkit-box-shadow: 4px 4px 12px 6px rgba(0,0,0,.5);
  box-shadow:         4px 4px 12px 6px rgba(0,0,0,.5);
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #111;
}

#footer p {
  margin: 0;
  font-size: 16px;
}
